/*-- scss:defaults --*/
// Base document colors
// $body-bg: #181818;
// $body-color: white;

$base-color: #4F6D7A;
$link-color: $base-color; 
$highlight-color: #DD6E42;
// $link-color: #ef0101;  
$link-hover-color: #DD6E42;
$sidebar-bg: $highlight-color;
// $navbar-bg: $highlight-color;
$input-bg: #ffffff;
$dark-text: #51514f;
